*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    background-image: none;
    margin: 0;
    background-color: black;
    padding: 0;
}

div#caja{
    background: inherit;
    margin: 40px;
    border: solid 1px rgb(0, 255, 0);
    border-radius: 5px;
}

div#paneles{
    display: flex;
}

div#caja2{
    margin: 40px;
    background-color: inherit;
    border: solid 1px rgb(0, 255, 0);
    border-radius: 5px;
}

div#caja3{
    margin: 40px;
    background-color: inherit;
    border: solid 1px rgb(0, 255, 0);
    border-radius: 5px;
}

h1{
    color: rgb(0, 255, 0);
    font-size: 60px;
}

button{
    margin-bottom: 10px;
}

p.indicador-panel{
    text-align: center;
}

#sumar{
    border: solid 2px rgb(0, 255, 0);
    border-radius: 5px;
    background: inherit;
    color: rgb(0, 255, 0);
    font-size: 20px;
    padding: 10px 2em;
    transition: 0.1s;
}

#sumar:active{
    border: solid 2px rgb(0, 100, 0);
    border-radius: 5px;
    background: inherit;
    color: rgb(0, 100, 0);
    font-size: 20px;
    padding: 10px 2em;
    transition: 0.1s;
}

#sumar:disabled{
    border: solid 2px rgb(46, 42, 42);
    border-radius: 5px;
    background: inherit;
    color: rgb(46, 42, 42);
    font-size: 20px;
    padding: 10px 2em;
    transition: 0.1s;
}

#mejorar{
    border: solid 2px rgb(0, 255, 0);
    border-radius: 5px;
    background: inherit;
    color: rgb(0, 255, 0);
    font-size: 20px;
    padding: 10px 2em;
    transition: 0.1s;
}

#mejorar:active{
    border: solid 2px rgb(0, 100, 0);
    border-radius: 5px;
    background: inherit;
    color: rgb(0, 100, 0);
    font-size: 20px;
    padding: 10px 2em;
    transition: 0.1s;
}

#mejorar:disabled{
    border: solid 2px rgb(46, 42, 42);
    border-radius: 5px;
    background: inherit;
    color: rgb(46, 42, 42);
    font-size: 20px;
    padding: 10px 2em;
    transition: 0.1s;
}

p{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    text-align: end;
    color: white;
    font-size: 20px;
}

#panel-de-colores{
    display: flex;
}

#tiempo, #diamante{
    display: flex;
    justify-content: end;
}

.boton{
    border: 0;
}

#rojo{
    height: 40px;
    width: 40px;
    background-color: red;
    margin: 10px;
}

#azul{
    height: 40px;
    width: 40px;
    background-color: blue;
    margin: 10px;
}

#verde{
    height: 40px;
    width: 40px;
    background-color: rgb(0, 255, 0);
    margin: 10px;
}

#amarillo{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 0);
    margin: 10px;
}

#violeta{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 0, 255);
    margin: 10px;
}

#blanco{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

#marron{
    height: 40px;
    width: 40px;
    background-color: rgb(77, 36, 13);
    margin: 10px;
}

#gradiente{
    height: 40px;
    width: 40px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 128, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255));  
    margin: 10px;
}

#f-negro{
    height: 40px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border: solid 1px white;
    margin: 10px
}

#f-anime{
    height: 40px;
    width: 40px;
    background-image: linear-gradient(rgb(9, 17, 66), rgb(28, 38, 103), rgb(9, 17, 66));
    margin: 10px
}

#f-ciudad{
    height: 40px;
    width: 40px;
    background-image: linear-gradient(rgb(9, 17, 66), rgb(28, 38, 103), rgb(9, 17, 66));
    margin: 10px
}

#f-espacio{
    height: 40px;
    width: 40px;
    background-image: url("icono-espacio.jpg");
    margin: 10px
}

#f-anime{
    height: 40px;
    width: 40px;
    background-image: url("anime.png");
    margin: 10px
}